.add-action{
    border: none !important;
    width: 230px;
    height: 230px;
    border-radius: 14px;
}

.add-icon{
    font-size: 4.5rem !important;
}

.action-buttons{
    position: absolute;
    z-index:99999;
    top: 20px;
    left: 14px;
    
    button{
        margin:4px;
        height:80px;
    }
}

.inner-image {
    z-index:99999;
    position: relative;
    right: 2px;
    bottom:4px;
    height: 218px;
    width: 220px;
    border-radius: 2px;
}